OPERATOR

In [1]:
x = 8
y = 12

print('x + y =',x+y)

print('x - y =',x-y)

print('x * y =',x*y)

print('x / y =',x/y)

print('x // y =',x//y)

print('x ** y =',x**y)

x + y = 20
x - y = -4
x * y = 96
x / y = 0.6666666666666666
x // y = 0
x ** y = 68719476736

Comparison operators in Python

In [3]:
#  Python program to show
# shift operators

a = 50
b = -50

# print bitwise right shift operator
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)

a = 7
b = -10

# print bitwise left shift operator
print("a << 1 =", a << 1)
print("b << 1 =", b << 1)

a >> 1 = 25
b >> 1 = -25
a << 1 = 14
b << 1 = -20

logical  operator

In [4]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

identity operator

In [6]:
x1 = 6
y1 = 7
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)

print(x2 is y2)

print(x3 is y3)

True
True
False

Membership operator

In [8]:
x = 'world is beauty of god'
y = {5:'a',2:'b'}

print('H' in x)

print('gd' not in x)

print(1 in y)

print('b' in y)

False
True
False
False

if statement

In [9]:
num = 0
if num > 0:
    print(num, "is a positive number.")
elif num<0:
  print(num, "is a Negative number.")
else:
  print("num=0")
print("This is always printed.")

num=0
This is always printed.

In [10]:
num = 100
if num > 0:
    print(num, "is a positive number.")
elif num<0:
  print(num, "is a Negative number.")
else:
  print("num=0")
print("This is always printed.")

100 is a positive number.
This is always printed.

In [11]:
num = -80
if num > 0:
    print(num, "is a positive number.")
elif num<0:
  print(num, "is a Negative number.")
else:
  print("num=0")
print("This is always printed.")

-80 is a Negative number.
This is always printed.

for loop

In [12]:
a = int(input("enter no.:"))
prime = True
for  i in range(2,a):
    if a%i==0 :
        prime= False
        break
if prime:
    print(a,"is a prime no.")
else:
    print(a,"is not a prime no.")

enter no.:23
23 is a prime no.

Sum of Natural number

In [13]:
num = int(input("Enter no :"))
sum =0
for i in range(1,num+1):
    sum= sum+i
print(sum,"is sum of natural no till ",num)

Enter no :10
55 is sum of natural no till  10